# Ignore everything by default
*

# Include only what we need
!Cargo.toml
!Cargo.lock
!src/
!templates/
!supervisord.conf
!entrypoint.sh

# Explicitly ignore these even if they match the includes above
target/
.git/
.github/
.history/
.vscode/
.env*
dump.rdb
ufc.dump
readme.md
.gitignore
rustfmt.toml
examples/
